[submodule "Core"]
	path = Core
	url = https://github.com/KiraiMod/Core
	branch = master
[submodule "KiraiMod.Core"]
	path = KiraiMod.Core
	url = https://github.com/KiraiMod/Core
	branch = master
[submodule "KiraiMod.Core.UI"]
	path = KiraiMod.Core.UI
	url = https://github.com/KiraiMod/Core.UI
	branch = master
[submodule "TypeScanner"]
	path = TypeScanner
	url = https://github.com/xKiraiChan/TypeScanner
[submodule "KiraiMod"]
	path = KiraiMod
	url = https://github.com/KiraiMod/Public
	branch = master
