[submodule "KiraiMod.Updater"]
	path = KiraiMod.Updater
	url = git@gitlab.com:KiraiMod/Updater.git
	branch = master
[submodule "TypeScanner"]
	path = TypeScanner
	url = https://github.com/xKiraiChan/TypeScanner.git
	branch = master
[submodule "KiraiMod.Moderations"]
	path = KiraiMod.Moderations
	url = git@gitlab.com:KiraiMod/moderations.git
	branch = master
